button {
  border: none;
  background-color: rgb(29, 30, 31);
  font-size: 24px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
  outline: none;
}

.rightbuttons {
  background-color: orange;
}

.upperbuttons {
  background-color: gray;
}

button:hover {
  background-color: red;
}

.zero {
  grid-column: 1 / 3;
}
